                        body{
                            width: 100%;
                            height: 100%;
                            display: grid;
                            min-height: 100vh;
                        }
                        .hero-wrapper {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            grid-row-gap: 1px;
                            grid-column-gap: 1px;
                            background-color: rgb(51, 51, 51);
                        }
                        
                        .hero-wrapper h1 {
                            /* background-color: #0069b3; */
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 30px;
                            font-size: 68px;
                            line-height: 1;
                            color: rgba(6, 155, 255, 0.979);
                            font-family: montserrat;
                            font-weight: 300;
                            animation: 1s ease-out 0s 1 slideInFromLeft;
                        }
                        
                        .main-wrapper {
                            display: grid;
                            width: 80%;
                            justify-content: center;
                            align-items: center;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            margin: auto;
                            /* background-color: green; */
                        }
                        
                        .button-wrapper {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            grid-row-gap: 1px;
                            grid-column-gap: 1px;
                        }
                        
                        .button-wrapper>input {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            vertical-align: middle;
                            line-height: 1em;
                        }

                        @media only screen and (max-width: 600px) {
                            .gif-wrapper {
                                display:block!important;
                         
                            }
                          }

                          @media only screen and (max-width: 450px) {
                            .footer-wrapper p {
                                margin-left: 15px;
                            }
                          }
                        .gif-wrapper {
                            margin-top: 5vh;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            grid-row-gap: 1px;
                            grid-column-gap: 1px;
                            background-color: black;
                            margin-bottom: 5vh;
                        }
                        
                        .footer-wrapper {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;
                            grid-row-gap: 1px;
                            grid-column-gap: 1px;
                            background-color: rgb(51, 51, 51);
                        }
                        
                        .footer-wrapper p {
                            /* background-color: #0069b3; */
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: rgba(6, 155, 255, 0.979);
                            font-weight: 300;
                        }
                        
                        .gifContainer {
                            background-color: #0069b3;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 50px;
                            font-size: 70px;
                            color: white;
                            line-height: 1;
                            font-weight: 200;
                            cursor: pointer;
                            transition: all .3s ease;
                        }
                        .gifContainer:nth-child(odd) {
                            background-color: #000000;

                        }
                        
                        p {
                            font-family: 'karla', sans-serif;
                            font-size: 16px;
                            line-height: 1.4;
                            letter-spacing: 0.1em;
                        }

                        #footer-text{
                            font-size:18px;
                        }
                        
                        @keyframes slideInFromLeft {
                            0% {
                                transform: translateX(-100%);
                            }
                            100% {
                                transform: translateX(0);
                            }
                        }
                        
                        @keyframes slideInFromRight {
                            0% {
                                transform: translateX(100%);
                            }
                            100% {
                                transform: translateX(0);
                            }
                        }
                        /* buttons n' stuff */
                        

                        input.gif-input {
                            margin: auto;
                            width: 33%;
                            display: flex;
                            text-align: center;
                            font-family: 'karla', sans-serif;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                        
                        input.button1 {
                            margin: auto!important;
                            display: flex;
                            padding: 0.65em 1.5em;
                            border: 0.1em solid #FFFFFF;
                            margin: 0 0.3em 0.3em 0;
                            border-radius: 0.12em;
                            box-sizing: border-box;
                            text-decoration: none;
                            font-family: 'poppins', sans-serif;
                            font-weight: 600;
                            font-size: 18px;
                            color: rgba(0, 66, 110, 0.979);
                            text-align: center;
                            transition: all 0.3s;
                            cursor: pointer;
                            animation: 1s ease-out 0s 1 slideInFromRight;
                        }
                        
                        input.button1:hover {
                            color: rgba(0, 0, 0, 0.979);
                            background-color: rgba(28, 255, 58, 0.788);
                        }
                        
                        #buttons-view {
                            border-left: 2px solid #eeee;
                        }

                        button.button1 {
                            margin: 10px!important;
                            display: inline-block;
                            padding: 0.45em 1.2em;
                            border: 0.1em solid #FFFFFF;
                            margin: 0 0.3em 0.3em 0;
                            border-radius: 0.12em;
                            box-sizing: border-box;
                            text-decoration: none;
                            font-family: 'poppins', sans-serif;
                            font-weight: 500;
                            font-size: 16px;
                            color: rgba(0, 66, 110, 0.979);
                            text-align: center;
                            transition: all 0.2s;
                            cursor: pointer;
                            animation: 1s ease-out 0s 1 slideInFromRight;

                        }

                        button.button1:hover {
                            color: rgba(224, 224, 224, 0.979);
                            background-color: rgb(47, 95, 255);
                        }
                        button.button1.resetBtn {
                            color: rgb(233, 233, 233);
                            background-color: rgb(255, 47, 47);
                            margin: 15px!important;

                        }
                        button.button1.resetBtn:hover{
                            color: rgba(255, 255, 255, 0.979);
                            background-color: rgb(255, 0, 0);
                        }


                        @media all and (max-width:30em) {
                            input.button1 {
                                display: block;
                                margin: 0.4em auto;
                            }
                        }